header{
    font-size: 16px;
}
body{
    background-color: cadetblue;
    font-family: David;
    font-size: 20px;
}
li{
    color: antiquewhite;
}
input{
    border-radius: 5px;
    height: 20px;
}
.submit{
    height: 25px;
}
