{% extends 'base.html' %}

{% block title %}
    Assignment 10
{% endblock %}

{% block css %}
    rel="stylesheet" href="static/CSS/assignment10.css"
{% endblock %}
{% block js %}
    src="static/JS/assignment10.js"
{% endblock %}

{% block tohen %}
    <h1>Welcome to Assignment 10 Page!</h1>

    <h2>Insertion form</h2>
    <form action="/insert_user", method="post">
    <input type="text" name="name" placeholder="Name">
    <input type="email" name="email" placeholder="Email">
    <input type="password" name="password" placeholder="Password">
    <input class="submit" type="submit" value="Insert" onclick="insertionAlert()">
    </form>

    <h2>Update form</h2>
    <form action="/update_user", method="post">
    <input type="text" name="name" placeholder="Name">
    <input type="email" name="email" placeholder="Email">
    <input type="password" name="password" placeholder="Password">
    <input class="submit" type="submit" value="Update" onclick="updateAlert()">
    </form>

    <hr>
        <h3>Users List:</h3>
    <ul>
        {% for user in users %}
            <li>
                <form action="/delete_user" method="post" style="display: inline">
                    <input type="hidden" name="id" value="{{ user.id }}">
                    <input type="submit" value="Delete" onclick="deletionAlert()">
                </form>
                {{ user.name }}, Email: {{ user.email }}</li>
        {% endfor %}
    </ul>


{% endblock %}
